# Environment variables
.env
.env.local

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Django
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
